.game-container {
    position: relative;
    border: 2px solid #000;
    display: flex;
    justify-content: space-between; /* Space out the word list and image list */
    align-items: center; /* Center items vertically */
    width: 95vw;
}

#matchCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

app-word-list, app-image-list {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Center items vertically within the list */
}