.word-list {
    display: flex;
    flex-direction: column; /* Arrange buttons vertically */
    align-items: center; /* Center buttons horizontally */
    justify-content: center; /* Center buttons vertically */
    padding: 10px;
    height: 100%; /* Ensure the word list takes up the full height of the container */
}

button {
    margin: 10px 0; /* Add vertical margin between buttons */
    padding: 10px;
    background-color: lightblue;
    border: none;
    cursor: pointer;
    font-size: xx-large;
}

button:hover:not(:disabled) {
    background-color: lightcoral;
}

button:disabled {
    cursor: not-allowed;
}