.word-options {
        display: flex;
        align-items: center; /* Center buttons horizontally */
        justify-content: center; /* Center buttons vertically */
        padding: 10px;
        height: 100%; /* Ensure the word list takes up the full height of the container */
}

button {
    width: 45%;
    height: 100px;
    background-color: lightblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 10px;
}