.game-container {
    position: relative;
    border: 2px solid #000;
    display: flex;
    justify-content: space-between; /* Space out the word list and image list */
    align-items: center; /* Center items vertically */
    width: 95vw;
    flex-direction: column;
}