.image-list {
  display: flex;
  flex-direction: column; /* Arrange images vertically */
  align-items: flex-end; /* Align images to the end (right) */
  padding: 10px;
}

img {
  width: 100px;
  height: 100px;
  margin: 10px 0; /* Add vertical margin between images */
  cursor: pointer;
}

img:hover:not(.disabled) {
  transform: scale(1.1);
}

img.disabled {
  cursor: not-allowed;
}