.navigation {
    display: flex;
    justify-content: center;
}

.nav-block {
    width: 45%;
    height: 100px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 10px;
}

.nav-block:hover {
    background-color: lightcoral;
}
