<div class="navigation">
    <ng-container *ngIf="showNavigationBar">
        <div class="nav-block" [routerLink]="[{ outlets: { game: ['wordyWonders'] } }]">Wordy Wonders</div>
        <div class="nav-block" [routerLink]="[{ outlets: { game: ['flagWhiz'] } }]">Flag Whiz</div>
        <div class="nav-block" [routerLink]="[{ outlets: { game: ['wordSnap'] } }]">Word Snap</div>
        <div class="nav-block" [routerLink]="[{ outlets: { game: ['textBlitz'] } }]">Text Blitz</div>

    </ng-container>
    <ng-container *ngIf="showReturnButton">
        <div class="nav-block" routerLink="/">Return to menu</div>
    </ng-container>
</div>