<div class="navigation-wrapper" [ngStyle]="showNavigationBar ? { height: '70vh' } : {}">
    <div class="navigation-details" [ngStyle]="!showNavigationBar ? { display: 'none'} : {}"></div>
    <div class="navigation">
        
        <ng-container *ngIf="showNavigationBar">
            <div class="logo">
                <img src="../../assets/common/GuessMaster-logo.png" alt="Logo" />
            </div>

            <div class="nav-container">
                <div
                    class="nav-block"
                    *ngFor="let item of navItems"
                    [routerLink]="item.route"
                    [innerHTML]="wrapLetters(item.label)">
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="showReturnButton">
            <div class="nav-block" routerLink="/">Return to menu</div>
        </ng-container>
    </div>
</div>