@font-face {
    font-family: "NavFont";
    src: url('../../assets/fonts/Midfriend-5yzzx.ttf');
    font-weight: normal;
    font-style: normal;
}

.logo {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0.5em;
}

.navigation {
    position: relative;
    z-index: 1;
    width: 95%;
    height: 90%;
    background:
        url('../../assets/common/navigation-detail.png'),
        linear-gradient(0deg, #893F0C 0%, #D97F3B 100%);
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center center, center center;
    border-radius: 15px;
    outline: none;
    border: 2px dashed #c57834;
    overflow: hidden; /* Ensures pseudo-element doesn't spill out */
}

.navigation-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: url('../../assets/common/Texture\ Overlay.png'),
        linear-gradient(0deg, #893F0C 0%, #533116 100%);
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 20px;
}

.navigation-details {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;

    clip-path: polygon(49% 1%, 94% 2%, 96% 35%, 98% 70%, 100% 100%, 46% 98%, 3% 97%, 2% 70%, 2% 37%, 0 0);
    background: url('../../assets/common/navigation-detail-background.png');
    box-shadow: 0 8px 32px rgba(0,0,0,0.15);
    z-index: 0; /* Behind .navigation content */
    pointer-events: none;
}

.nav-container {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-block {
    width: 45%;
    height: 100px;
    color: #422b07;
    background-color: #b37d2c;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px dashed #7a3d07;
    border-radius: 15px;
    margin: 10px;
    outline: none;
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    box-shadow: 0 0 0 4px #442901, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    transition: .1s ease-in-out, .4s color;
    font-family: 'NavFont', sans-serif;
    font-size: 1.4em;
    white-space: pre-line;
}

.nav-block:active {
    transform: translateX(0.1em) translateY(0.1em);
    box-shadow: 0 0 0 4px #EADDCA, 1.5px 1.5px 2.5px 1.5px rgba(0, 0, 0, 0.5);
}

.nav-block:hover {
  transform: translateX(0.1em) translateY(0.1em);
  box-shadow: 0 0 0 4px #c9a13234, 1.5px 1.5px 2.5px 1.5px rgba(0, 0, 0, 0.5);
}